:root {
    --color-primario: rgb(154, 158, 141);
    --color-secundario: rgb(196, 138, 98);
    --color-1: rgb(130, 86, 61);
    --color-2: rgb(130, 146, 146);
    --color-3: rgb(212, 186, 161);
    --color-4: rgb(239, 226, 220);
    --color-5: rgb(229, 191, 155);
    --color-6: rgb(113, 126, 98);
    --color-7: rgb(184, 191, 175);

    --fontTitle: 'Playfair Display', serif;
    --fontText: 'Cormorant Garamond', serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fontText);
    background-color: var(--color-4);
    color: var(--color-1);
    line-height: 1.8;
}



/* Hero / Encabezado */
.acerca {
    background-color: var(--color-6);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.acerca h1 {
    font-family: var(--fontTitle);
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.acerca p {
    font-size: 25px;
    font-style: italic;
}




/*Boton*/
.contenedorBotonVolver {
    display: flex;
    position: fixed;
    right: 5px;
    top: 2px;
    z-index: 10;
    align-items: center;
}


.contenedorBotonVolver a {
    padding: 10px 25px;
    background-color: var(--color-1);
    border: none;
    box-shadow: 2px 2px 10px var(--color-1);
    color: white;
    font-weight: bold;
    font-family: var(--fontTitle);
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contenedorBotonVolver a:hover {
    background-color: var(--color-2);
    color: var(--color-4);
    cursor: pointer;
    box-shadow: 2px 2px 10px var(--color-2);
}




/* Sección Quienes Somos */
/* Sección Historia */
.quienes-somos {
    display: flex;
    padding: 40px 20px;
    max-width: 80%;
    margin: auto;
}

.parteHistoria {
    flex: 1;
    padding: 20px;
    width: 60%;
}

.parteImagenes {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.quienes-somos .parteImagenes h2 {
    font-family: var(--fontTitle);
    font-size: 18px;
    margin-bottom: 10px;
}

.parteImagenes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.parteImagenes img:hover {
    transform: scale(1.03);
}


.quienes-somos h2 {
    font-family: var(--fontTitle);
    font-size: 32px;
    margin-bottom: 10px;
}

.quienes-somos p {
    font-family: var(--fontText);
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .quienes-somos {
        flex-direction: column;
        text-align: center;
    }

    .parteHistoria,
    .parteImagenes {
        width: 100%;
        padding: 0px;
    }

    .parteImagenes {
        margin-top: 20px;
    }

    .parteImagenes h2 {
        font-size: 16px;
    }
}







/* Lista de objetivos */
.objetivos {
    background-color: var(--color-3);
    padding: 30px 20px;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
}

.objetivos h2 {
    font-family: var(--fontTitle);
    font-size: 28px;
    margin-bottom: 15px;
}

.objetivos ul {
    list-style-type: square;
    padding-left: 20px;
}

.objetivos li {
    margin-bottom: 10px;
}






/* Misión y visión */
.vision {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.vision div {
    flex: 1 1 300px;
    background-color: var(--color-5);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vision p {
    font-family: var(--fontTitle);
    font-size: 18px;

}

.vision h3 {
    font-family: var(--fontTitle);
    font-size: 24px;
    margin-bottom: 10px;
}

.vision img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    aspect-ratio: 4 / 3;
    /* mantiene proporción elegante */
    transition: transform 0.3s ease;
}

.vision img:hover {
    transform: scale(1.03);
    /* efecto sutil al pasar el mouse */
}






/* Cita */
.cita {
    text-align: center;
    font-family: var(--fontTitle);
    font-size: 22px;
    font-style: italic;
    color: var(--color-1);
    margin: 60px auto 30px auto;
    max-width: 800px;
    padding: 0 20px;
}

/* Botón */
.btn-explora {
    text-align: center;
    margin-bottom: 60px;
}

.boton {
    display: inline-block;
    background-color: var(--color-secundario);
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-family: var(--fontTitle);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: var(--color-1);
}






/* Footer */
footer {
    background-color: var(--color-6);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--fontTitle);
    font-size: 16px;
}