:root {
    --color-primario: rgb(154, 158, 141);
    /* Tono neutro suave */
    --color-secundario: rgb(196, 138, 98);
    /* Terracota cálido */
    --color-1: rgb(117, 76, 52);
    /* Marrón artístico */
    --color-2: rgb(130, 146, 146);
    /* Verde grisáceo */
    --color-3: rgb(212, 186, 161);
    /* Beige elegante */
    --color-4: rgb(239, 226, 220);
    /* Rosa pálido */
    --color-5: rgb(229, 191, 155);
    /* Melocotón suave */
    --color-6: rgb(113, 126, 98);
    /* Verde oliva oscuro */
    --color-7: rgb(184, 191, 175);
    /* Gris cálido */

    --colorFondos: rgb(196, 195, 172);


    --fontTitle: 'Playfair Display', serif;
    --fontText: 'Cormorant Garamond', serif;

}


body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background: #fff;
    color: #333;
}


/*Botones fix whatsapp e instagram*/
.btn-float {
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s;
}

.btn-float img {
    width: 28px;
    height: 28px;
}

.btn-float:hover {
    transform: scale(1.1);
}

.whatsapp {
    bottom: 90px;
}

.instagram {
    bottom: 20px;
}

/*Fin de botones fix*/







/*Parte Superior Logo*/

.imagen-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

/*Final parte superior Logo*/




/*Navbar*/
.titulo-Principal {
    font-family: 'Playfair Display', serif;
}

.texto-cuerpo {
    font-family: 'Quicksand', sans-serif;
    color: #dfdfdf !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    transition: all 0.5s ease !important;
    border-radius: 5px;
}

.texto-cuerpo:hover {
    background-color: rgb(126, 146, 102);
    color: white !important;
}

.colorUltimoBoton {
    background-color: rgb(79, 90, 66) !important;
}


.colorNavbar {
    background-color: var(--color-6);
    position: sticky;
    top: 0;
    z-index: 1030;
}

.dropdown-item {
    color: var(--color-1) !important;
}

.textoDropdown {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-2) !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    transition: all 0.5s ease !important;
    border-radius: 5px;
}

.textoDropdown:hover {
    background-color: rgb(126, 146, 102) !important;
    color: rgb(255, 255, 255) !important;


    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*Navbar Final*/






/*Galeria de imagenes*/

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    perspective: 1000px;
    /* para efecto de profundidad */
}

.container-cards .card {
    background: white;
    border: 8px solid #a57c55;
    /* Borde principal (madera o dorado) */
    outline: 4px solid #e4d4b5;
    /* Marco secundario (más claro) */
    outline-offset: -12px;
    /* Hace que quede pegado al borde */
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
    position: relative;
    width: 240px;
    height: 340px;
    cursor: pointer;
    min-width: 240px;

    margin: 25px 0px;
}

.container-cards .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.container-cards .card p {
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
}

/* Efecto cuando el mouse entra al contenedor */
.container-cards:hover .card {
    transform: scale(0.9);
   /*  opacity: 0.6; */
}

/* Efecto cuando el mouse está sobre la carta */
.container-cards .card:hover {
    transform: scale(1.2) translateY(-10px);
   /*  opacity: 1; */
    z-index: 10;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

/*Final de la galeria de imagenes*/





/*Seccion moneda*/

.contenedorMoneda {
    position: fixed;
    left: 20px;
    /* Fijo al lado izquierdo */
    bottom: 20px;
    /* Puedes ajustar la altura */
    z-index: 1000;
}

/* Selector como botón elegante */
.select-elegante {
    appearance: none;
    background: linear-gradient(135deg, #614f4a, #614f4a);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
    min-width: 130px;
    /* Para que no se vea muy pequeño */
}

/* Hover */
.select-elegante:hover {
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

/* Opciones del dropdown */
.select-elegante option {
    background: #1e1e2f;
    color: #fff;
    padding: 10px;
}

/*Final seccion moneda*/





/*Sección mas informacion de cuadros*/

.ContBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    padding: 4rem;
}


/*Boton 1*/
.btn-gradient {
    background: linear-gradient(45deg, #70976c, #22522a);
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(53, 122, 68, 0.4);
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #92ff76, #92ff76);
    /* nuevo degradado */
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(25, 56, 30, 0.4);
    color: #fff;
}



/*Boton 2*/
.btn-border {
    background: linear-gradient(45deg, #70976c, #22522a);
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(25, 56, 30, 0.4);
}


.btn-border:hover {
    background: linear-gradient(45deg, #c3ddbc, #c3ddbc);
    /* nuevo degradado */
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(25, 56, 30, 0.4);
    color: #fff;
}



/*Mas informacion de cuadros*/

.seccion-oculta {
    display: none;
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
}

/* Imagen */
#seccion-imagen img {
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* Carrusel */
#carousel-section {
    max-width: 800px;
    margin: 30px auto;
}

#carousel-section img {
    width: 100%;
    /* Ocupa todo el ancho del carrusel */
    max-height: 800px;
    /* Máxima altura permitida */
    object-fit: contain;
    /* Ajusta sin deformar */
    border-radius: 8px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(83, 58, 58, 0.85);
    border-radius: 50%;
    width: 40px;
    /* Ancho del círculo */
    height: 40px;
    /* Alto del círculo */
    background-size: 70% 70%;
    /* Tamaño de la flecha dentro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* Efecto hover */
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-color: #70976c;
    /* Cambia el color de fondo */
    transform: scale(1.1);
    /* Efecto de aumento */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    /* Sombra más intensa */
}

/*Final mas Informacion de cuadros*/




/* Footer */
footer {
    text-align: center;
    padding: 3rem;
    background: #222;
    color: #fff;
}